<app-search></app-search>
<div class="list-wrp">
    <h3>User name: {{userName}}</h3>
    <ul *ngIf="repos">
        <li *ngFor="let repo of repos">
            <app-card [repo]="repo"></app-card>
        </li>

    </ul>
    <div *ngIf="repos && repos.length < 0">No repositories</div>
    <div *ngIf="warn">
        <div *ngIf="warnMessage.status === 403">
            Rate limit for your ip exceeded : {{warnMessage.statusText | uppercase}}
        </div>
        <div *ngIf="warnMessage.status === 404">
            User is: {{warnMessage.statusText | uppercase}}
        </div>
    </div>
</div>