<section>
  <p>{{title}}</p>
  <ul>
    <li *ngFor="let repo of dataList | async">
      <md-card>
        <md-card-header>
          <div md-card-avatar class="card-ava">
            <img src="{{repo.owner.avatar_url}}">
          </div>
          <md-card-title>{{repo.name}}</md-card-title>
        </md-card-header>
        <md-card-content>
          <p>
            {{repo.description}}
          </p>
          <p>Clone url: <span>{{repo.clone_url}}</span></p>
        </md-card-content>
        <md-card-actions>
          <a md-button href="{{repo.html_url}}" target="_blank"> View on GitHub</a>
          <a [routerLink]="[{ path: 'detail/:id' }]"
             md-button href="{{repo.html_url}}" target="_blank"> Detail information</a>
          <a md-button (click)="favoriteFunc(repo.id)">Favorites</a>
        </md-card-actions>
      </md-card>
    </li>
  </ul>
</section>
